
/* @media only screen and (min-device-width: 1024px) {
  .krug1{
    width: 500px;
    height: 500px;
  }
    .star1{}
    .palka1{

    }
    .star2{
    }
    .kvadrat1{
      width: 421px;
      height: 399px;
    }
    .krug2{}
    .krug0{
    }
    .kot{}
    .star3{}
    .krug3{
      top: 332px;/
      right: 4%;
    }
    .treug1{}
    .krug4{
      width: 500px;
      height: 500px;
      top: 835px;
      right: 115px;
    }
    .treug2{}
    .chel{}
    .ochki{
      bottom: 19%
    }
    .krug21{}
    .kvadrat21{}
    .k1{}
    .k2{}
    .kvadrat22{}
    .treug22{}
    .kot2{}
    .treug23{}
    .krug22{}
    .krug23{}
    .krug24{} */

}
@media only screen and (min-device-width: 1366px) {
 .krug1{
   width: 500px;
   height: 500px;
 }
 .star1{}
 .palka1{
   /* left: 375px;
   width: 94px;
   height: 500px;
   top: -103px; */
 }
 .star2{}
 .kvadrat1{
   width: 421px;
   height: 399px;
 }
 .krug2{}
 .krug0{}
 .kot{}
 .star3{}
 .krug3{
   top: 332px;
   /* left: 846px; */
   right: 4%;
 }
 .treug1{}
 .krug4{
   width: 500px;
   height: 500px;
   top: 835px;
   right: 115px;
 }
 .treug2{}
 .chel{}
 .ochki{
   bottom: 21%
 }
 .krug21{}
 .kvadrat21{}
 .k1{}
 .k2{}
 .kvadrat22{}
 .treug22{}
 .kot2{}
 .treug23{}
 .krug22{}
 .krug23{}
 .krug24{}

 }
@media only screen and (min-device-width: 1680px) {
  .krug1 {
    left: -9px;
    width: 540px;
    height: 540px;
  }
  .star1 {
    transform: scale(1.2);
    left: 3%;
    top: 10px;
  }
  .palka1 {
    left: calc(50% - 200px);
    top: -71px;
    width: 240px;
    height: 761px;
  }
  .star2 {
    right: -5%;
    top: -100px;
    transform: scale(1.3);
    background-position: -10px
  }
  .kvadrat1 {
    top: 430px;
    width: 535px;
    height: 507px;
  }
  .krug2 {
    /* background: url('../images/adapt/krug2u2.svg'); */
    width: 734px;
    height: 703px;
    top: 900px;
  }
  .kot {

  }
  .star3 {
    top: 750px;
    left: 180px;
    transform: scale(1.2);
  }
  .krug3 {
    right: 50px;
    top: 450px;
  }
  .treug1 {
    right: 420px;
    top: 330px;
  }
  .krug4 {
    width: 540px;
    height: 540px;
    top: 1040px;
    right: 300px;
  }
  .treug2 {
    /* background: url('../images/adapt/treug2u2.svg'); */
    top: 820px;
    height: 100%;
    right: 0px;
    background-repeat: no-repeat;
  }

  }
  .chel {

  }
  .ochki {

  }
  .f2 {
    top: 1575px;

  }
  .t1 {
    position: relative;
    font-size: 110px;
    text-align: center;
    top: 0px;
  }
  .div1 {
    top: 287px;
    width: 622px;
    height: 591px;
  }
  .krug21 {
    width: 537px;
    height: 537px;
  }
  .kvadrat21 {
    width: 190px;
    height: 190px;
    bottom: 10px;
    left: 10px;
  }
  .k1 {
    /* background: url('../images/adapt/k1u2.svg'); */
    width: 512px;
    height: 744px;
    background-repeat: no-repeat;
    right: -250px;
    top: 490px
  }
  .k2 {
    top: 1120px;
    left: 100px;
  }
  .div2 {
    width: 720px;
    height: 748px;
    right: -220px;
    top: 1410px;
  }
  .kot2 {

  }
  .kvadrat22 {

  }
  .treug22 {

  }
  .div3 {
    top: 87%;
    width: 771px;
    height: 486px;
  }
  .treug23 {

  }
  .krug22 {

  }
  .div4 {
    top: 2777px;
    right: -100px
  }
  .krug23 {

  }
  .krug24 {

  }
}
@media only screen and (min-device-width: 1440px) {
  .krug1 {
    left: -39px;
    width: 520px;
    height: 520px;
  }
  .star1 {
    /* width: 505px; */
    /* height: 525px; */
  }
  .palka1 {
    left: calc(50% - 119px);
    top: -61px;
    width: 115px;
    height: 669px;
  }
  .star2 {
    right: 0px;
    top: -250px;
    /* width: 110%; */
  }
  .kvadrat1 {
    top: 415px;
    width: 511px;
    height: 484px;
  }
  .krug2 {
    /* background: url('../images/adapt/krug2u2.svg');
    width: 734px;
    height: 703px; */
    top: 790px;
  }
  .kot {

  }
  .star3 {
    top: 649px;
    left: 159px;
  }
  .krug3 {
    right: 25px;
    top: 392px;
  }
  .treug1 {
    right: 360px;
    top: 570px;
  }
  .krug4 {
    width: 515px;
    height: 515px;
    top: 850px;
    right: 125px;
  }
  .treug2 {
    /* background: url('../images/adapt/treug2u2.svg'); */
    top: 780px;
    right: 0px;
  }
  .glavn {

  }
  .chel {

  }
  .ochki {

  }
  .f2 {
    top: 1350px;

  }
  .t1 {
    position: relative;
    font-size: 110px;
    text-align: center;
    margin: 0 auto;
    top: 0px;
  }
  .div1 {
    top: 283px;
    width: 575px;
    height: 571px;
  }
  .krug21 {
    width: 491px;
    height: 491px;
  }
  .kvadrat21 {
    width: 173px;
    height: 173px;
    bottom: 5px;
    left: 5px;
  }
  .k1 {
    /* background: url('../images/adapt/k1u2.svg'); */
    /* width: 512px;
    height: 744px; */
    /* background-repeat: no-repeat; */
    right: -50px;
    top: 455px
  }
  .k2 {
    top: 988px;
    left: 50px;
  }
  .div2 {
    width: 643px;
    height: 721px;
    right: -10px;
    top: 1060px;
  }
  .kot2 {

  }
  .kvadrat22 {

  }
  .treug22 {

  }
  .div3 {
    top: 67%;
    width: 771px;
    height: 486px;
  }
  .treug23 {

  }
  .krug22 {

  }
  .div4 {
    top: 2303px;
    right: -50px
  }
  .krug23 {

  }
  .krug24 {

  }
}


@media only screen and (min-device-width: 1366px) {
  .krug1 {
    left: -39px;
    width: 520px;
    height: 520px;
  }
  .star1 {
    /* width: 505px; */
    /* height: 525px; */
  }
  .palka1 {
    left: calc(50% - 119px);
    top: -61px;
    width: 115px;
    height: 669px;
  }
  .star2 {
    right: 15px;
    top: -250px;
    /* width: 110%; */
  }
  .kvadrat1 {
    top: 415px;
    width: 511px;
    height: 484px;
  }
  .krug2 {
    /* background: url('../images/adapt/krug2u2.svg');
    width: 734px;
    height: 703px; */
    top: 790px;
  }
  .kot {

  }
  .star3 {
    top: 649px;
    left: 159px;
  }
  .krug3 {
    right: 25px;
    top: 392px;
  }
  .treug1 {
    right: 360px;
    top: 570px;
  }
  .krug4 {
    width: 515px;
    height: 515px;
    top: 850px;
    right: 125px;
  }
  .treug2 {
    /* background: url('../images/adapt/treug2u2.svg'); */
    top: 780px;
    right: 0px;
  }
  .glavn {

  }
  .chel {

  }
  .ochki {

  }
  .f2 {
    top: 1350px;

  }
  .t1 {
    position: relative;
    font-size: 110px;
    text-align: center;
    margin: 0 auto;
    top: 0px;
  }
  .div1 {
    top: 283px;
    width: 575px;
    height: 571px;
  }
  .krug21 {
    width: 491px;
    height: 491px;
  }
  .kvadrat21 {
    width: 173px;
    height: 173px;
    bottom: 5px;
    left: 5px;
  }
  .k1 {
    /* background: url('../images/adapt/k1u2.svg'); */
    /* width: 512px;
    height: 744px; */
    /* background-repeat: no-repeat; */
    right: -50px;
    top: 455px
  }
  .k2 {
    top: 988px;
    left: 50px;
  }
  .div2 {
    width: 643px;
    height: 721px;
    right: -10px;
    top: 1060px;
  }
  .kot2 {

  }
  .kvadrat22 {

  }
  .treug22 {

  }
  .div3 {
    top: 67%;
    width: 771px;
    height: 486px;
  }
  .treug23 {

  }
  .krug22 {

  }
  .div4 {
    top: 2303px;
    right: -50px
  }
  .krug23 {

  }
  .krug24 {

  }
}
@media only screen and (min-device-width: 1840px) {
  .krug1 {
    left: 0px;
    width: 580px;
    height: 580px;
  }
  .star1 {
    transform: scale(1.5);
    left: 8%;
    top: 100px;
  }
  .palka1 {
    left: calc(50% - 279px);
    top: -101px;
    width: 320px;
    height: 791px;
  }
  .star2 {
    right: -5%;
    top: 0px;
    transform: scale(1.5);
  }
  .kvadrat1 {
    top: 430px;
    width: 600px;
    height: 600px;
  }
  .krug2 {
    /* background: url('../images/adapt/krug2u3.svg'); */
    width: 834px;
    height: 803px;
    top: 900px;
    left: 1%;
    background-repeat: no-repeat;
  }
  .kot {
    left: 20%;
    top: 1000px;
  }
  .star3 {
    top: 750px;
    left: 180px;
    transform: scale(1.5);
  }
  .krug3 {
    right: 0px;
    top: 600px;
  }
  .treug1 {
    right: 420px;
    top: 330px;
  }
  .krug4 {
    width: 580px;
    height: 580px;
    top: 1040px;
    right: 0px;
  }
  .treug2 {
    /* background: url('../images/adapt/treug2u3.svg'); */
    top: 470px;
    width: 1106px;
    height: 1011;
    right: -300px;
    background-repeat: no-repeat;
  }

  }
  .chel {

  }
  .ochki {
    left: 38%;
  }
  .f2 {
    top: 1575px;

  }
  .t1 {
    position: relative;
    font-size: 110px;
    text-align: center;
    top: 0px;
  }
  .div1 {
    top: 287px;
    width: 622px;
    height: 591px;
  }
  .krug21 {
    width: 537px;
    height: 537px;
  }
  .kvadrat21 {
    width: 190px;
    height: 190px;
    bottom: 10px;
    left: 10px;
  }
  .k1 {
    /* background: url('../images/adapt/k1u2.svg'); */
    width: 512px;
    height: 744px;
    background-repeat: no-repeat;
    right: -50%;
    top: 490px;
  }
  .k2 {
    top: 1120px;
    left: 100px;
    .star21 {
    transform: scale(1.3);
    }
  }
  .div2 {
    width: 720px;
    height: 748px;
    right: -220px;
    top: 1410px;
  }
  .kot2 {

  }
  .kvadrat22 {

  }
  .treug22 {

  }
  .div3 {
    top: 87%;
    width: 771px;
    height: 486px;
  }
  .treug23 {

  }
  .krug22 {

  }
  .div4 {
    top: 2777px;
    right: -100px
  }
  .krug23 {

  }
  .krug24 {

  }

}



@media only screen and (min-device-width: 1024px) and {
  .krug1 {
    left: -138px;
    top: -38px;
    width: 239px;
    height: 239px;
  }
  .star1 {
    /* width: 505px; */
    /* height: 525px; */
  }
  .palka1 {
    left: calc(50% - 469px);
    top: -71px;
    width: 120px;
    height: 761px;
  }
  .star2 {
    /* right: 30px; */
    left: 230px;
    top: -200px;
    /* width: 110%; */
  }
  .kvadrat1 {
    top: 430px;
    width: 535px;
    height: 507px;
  }
  .krug2 {
    /* background: url('../images/adapt/krug2u2.svg'); */
    width: 734px;
    height: 703px;
    top: 900px;
  }
  .kot {

  }
  .star3 {
    top: 750px;
    left: 180px;
  }
  .krug3 {
    right: 50px;
    top: 450px;
  }
  .treug1 {
    right: 420px;
    top: 330px;
  }
  .krug4 {
    width: 540px;
    height: 540px;
    top: 1040px;
    right: 300px;
  }
  .treug2 {
    /* background: url('../images/adapt/treug2u2.svg'); */
    top: 820px;
    height: 100%;
    right: 0px;
    background-repeat: no-repeat;
  }

  }
  .chel {

  }
  .ochki {

  }
  .f2 {
    top: 1575px;

  }
  .t1 {
    position: relative;
    font-size: 110px;
    text-align: center;
    top: 0px;
  }
  .div1 {
    top: 287px;
    width: 622px;
    height: 591px;
  }
  .krug21 {
    width: 537px;
    height: 537px;
  }
  .kvadrat21 {
    width: 190px;
    height: 190px;
    bottom: 10px;
    left: 10px;
  }
  .k1 {
    /* background: url('../images/adapt/k1u2.svg'); */
    width: 512px;
    height: 744px;
    background-repeat: no-repeat;
    right: -250px;
    top: 490px
  }
  .k2 {
    top: 1120px;
    left: 100px;
  }
  .div2 {
    width: 720px;
    height: 748px;
    right: -220px;
    top: 1410px;
  }
  .kot2 {

  }
  .kvadrat22 {

  }
  .treug22 {

  }
  .div3 {
    top: 87%;
    width: 771px;
    height: 486px;
  }
  .treug23 {

  }
  .krug22 {

  }
  .div4 {
    top: 2777px;
    right: -100px
  }
  .krug23 {

  }
  .krug24 {

  }
  }
}

/* @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
} */
