@media only screen and (min-width: 414px) and (max-width: 768px) {
  .ochki {
    bottom: 35%;
  }
  .krug1 {
    left: -108px;
    top: -50px;
    width: 400px;
    height: 400px;
  }
  .star1 {
    left: -7%;
    top: -100px;
    transform: scale(.5);
  }
  .palka1 {
    left: calc(50% - 499px);
    top: -150px;
    width: 120px;
    height: 761px;
  }
  .star2 {
    left: 20%;
  }
  .kvadrat1 {
    top: 200px;
    width: 535px;
    height: 507px;
    left: -15%;
  }
  .krug2 {
    width: 800px;
    height: 700px;
    top: 400px;
    background-size: 500px;
  }
  @keyframes pryg {
    50% {top: 800px;}
  }
  .kot {
    top: 500px;
  }
  .star3 {
    top: 600px;
    left: 5%;
    background-size: 400px;
  }
  .krug3 {
    left: 10%;
    top: 590px;
    background-size: 500px;
  }
  .treug1 {
    top: 330px;
    left: 50%;
    opacity: 0;
  }
  .krug4 {
    width: 340px;
    height: 340px;
    top: 800px;
    right: 200px;
    z-index: 5;
  }
  .treug2 {
    top: 650px;
    height: 100%;
    right: -70%;
    background-repeat: no-repeat;
    background-size: 400px;
  }


  .f2 {
    top: 1110px;
  }
  .t1 {
    position: relative;
    font-size: 50px;
    text-align: center;
    left: -34%;
  }
  .div1 {
    top: 207px;
    width: 372px;
    height: 350px;
    left: 0%;
  }
  .ochki:hover ~ .div1 {
    transform: scale(.5);
  }
  .krug21 {
    width: 340px;
    height: 340px;
  }
  .kvadrat21 {
    width: 120px;
    height: 120px;
    bottom: 0px;
    left: 10px;
  }
  .k1 {
    width: 512px;
    height: 744px;
    background-repeat: no-repeat;
    left: -9%;
    top: 490px;
    /* background-size: 400px; */
  }
  .treug21 {
    top: 150px;
    left: 60%;
    background-size: 250px;
    background-repeat: no-repeat;
  }
  .k2 {
    top: 1100px;
    left: 0%;
    background: 100px;
  }
  .star21 {
    top: 0px;
    background-size: 400px;
    background-repeat: no-repeat;
  }
  .div2 {
    width: 420px;
    height: 348px;
    top: 1800px;
    left: 0%;
    transform: scale(.9);
  }
  .kot2 {
    left: 80%;
  }
  .kvadrat22 {
    height: 790px;
    width: 400px;
    left: 40%;
  }
  .treug22 {
    left: 37%;
  }
  .div3 {
    top: 3000px;
    width: 771px;
    height: 386px;
    left: 0%
  }
  .treug23 {
    background-size: 400px
  }
  .krug22 {
    height: 200px;
    width: 200px;
  }
  .div4 {
    width: 330px;
    top: 3650px;
    left: 40%;
    height: 190px
  }
  .krug23 {
    left: 0px;
    height: 190px;
    width: 190px;
  }
  .krug24 {
    right: 0px;
    height: 100px;
    width: 100px;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .ochki {
    bottom: 35%;
  }
  .krug1 {
    left: -108px;
    top: 0px;
    width: 439px;
    height: 439px;
  }
  .star1 {
    left: 2%;
    top: 30px;
  }
  .palka1 {
    left: calc(50% - 499px);
    top: -71px;
    width: 120px;
    height: 761px;
  }
  .star2 {
    top: 0px;
    transform: scale(0.8);
    right: -30%;
  }
  .kvadrat1 {
    top: 500px;
    width: 535px;
    height: 507px;
    left: -3%;
  }
  .krug2 {
    width: 800px;
    height: 700px;
    top: 1000px;
    background-size: 700px;
  }
  @keyframes pryg {
    50% {top: 800px;}
  }
  .kot {
    top: 500px;
  }
  .star3 {
    top: 800px;
    left: 5%;
    transform: scale(0.8);
  }
  .krug3 {
    right: 50px;
    top: 790px;
  }
  .treug1 {
    top: 330px;
    left: 50%;
    opacity: 0;
  }
  .krug4 {
    width: 340px;
    height: 340px;
    top: 1200px;
    right: 200px;
    z-index: 5;
  }
  .treug2 {
    top: 1220px;
    height: 100%;
    right: -3%;
    background-repeat: no-repeat;
  }


  .f2 {
    top: 1936px;
  }
  .t1 {
    position: relative;
    font-size: 100px;
    text-align: center;
    left: -10%;
  }
  .div1 {
    top: 357px;
    width: 372px;
    height: 350px;
    left: 4%;
  }
  .krug21 {
    width: 340px;
    height: 340px;
  }
  .kvadrat21 {
    width: 120px;
    height: 120px;
    bottom: 0px;
    left: 10px;
  }
  .k1 {
    width: 512px;
    height: 744px;
    background-repeat: no-repeat;
    left: 29%;
    top: 790px
  }
  .treug21 {
    top: 200px;
    left: 60%;
    background-size: 250px;
    background-repeat: no-repeat;
  }
  .k2 {
    top: 1500px;
    left: 0%;
  }
  .star21 {
    top: 0px;
    background-size: 400px;
    background-repeat: no-repeat;
  }
  .div2 {
    width: 420px;
    height: 348px;
    top: 2000px;
    left: 29%;
    transform: scale(.9);
  }
  .kot2 {
    left: 80%;
  }
  .kvadrat22 {
    height: 790px;
    width: 400px;
    left: 40%;
  }
  .treug22 {
    left: 37%;
  }
  .div3 {
    top: 3000px;
    width: 771px;
    height: 386px;
    left: 0%
  }
  .treug23 {
    background-size: 400px
  }
  .krug22 {
    height: 200px;
    width: 200px;
  }
  .div4 {
    width: 330px;
    top: 3650px;
    left: 40%;
    height: 190px
  }
  .krug23 {
    left: 0px;
    height: 190px;
    width: 190px;
  }
  .krug24 {
    right: 0px;
    height: 100px;
    width: 100px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {

  .krug1 {
    left: -138px;
    top: -38px;
    width: 439px;
    height: 439px;
  }
  .star1 {
    left: 0%;
  }
  .palka1 {
    left: calc(50% - 499px);
    top: -71px;
    width: 120px;
    height: 761px;
  }
  .star2 {
    top: -380px;
    transform: scale(0.8);
    right: -18%;
  }
  .kvadrat1 {
    top: 200px;
    width: 535px;
    height: 507px;
    left: -2%;
  }
  .krug2 {
    width: 900px;
    height: 800px;
    top: 300px;
    background-size: 700px
  }
  @keyframes pryg {
    50% {top: 100px;}
  }
  .kot {
    top: 500px;
  }
  .star3 {
    top: 550px;
    left: 5%;
    transform: scale(0.8);
  }
  .krug3 {
    right: 50px;
    top: 450px;
  }
  .treug1 {
    top: 330px;
    left: 50%;
  }
  .krug4 {
    width: 340px;
    height: 340px;
    top: 600px;
    right: 200px;
  }
  .treug2 {
    top: 420px;
    height: 100%;
    right: -3%;
    background-repeat: no-repeat;
  }


  .f2 {
    top: 1152px;

  }
  .t1 {
    position: relative;
    font-size: 100px;
    text-align: center;
    left: -10%;
  }
  .div1 {
    top: 257px;
    width: 372px;
    height: 350px;
    left: 4%;
  }
  .krug21 {
    width: 340px;
    height: 340px;
  }
  .kvadrat21 {
    width: 120px;
    height: 120px;
    bottom: 0px;
    left: 10px;
  }
  .k1 {
    width: 512px;
    height: 744px;
    background-repeat: no-repeat;
    left: 30%;
    top: 490px
  }
  .treug21 {
    left: 60%;
    background-size: 250px;
    background-repeat: no-repeat;
  }
  .k2 {
    top: 800px;
    left: 0%;
  }
  .star21 {
    top: 150px;
    background-size: 400px;
    background-repeat: no-repeat;
  }
  .div2 {
    width: 420px;
    height: 348px;
    top: 1160px;
    left: 32%;
    transform: scale(.9);
  }
  .kot2 {

  }
  .kvadrat22 {
    height: 490px;
    width: 400px;
    left: 50%;
  }
  .treug22 {
    left: 40%;
  }
  .div3 {
    top: 1850px;
    width: 771px;
    height: 386px;
    left: 0%
  }
  .treug23 {
    background-size: 400px
  }
  .krug22 {
    height: 200px;
    width: 200px;
  }
  .div4 {
    width: 330px;
    top: 2070px;
    left: 50%;
    height: 190px
  }
  .krug23 {
    left: 0px;
    height: 190px;
    width: 190px;
  }
  .krug24 {
    right: 0px;
    height: 100px;
    width: 100px;
  }
}

@media all and (min-width: 1680px) and (max-width: 1840px) {
  .krug1 {
    left: -9px;
    width: 540px;
    height: 540px;
  }
  .star1 {
    transform: scale(1.2);
    left: 3%;
    top: 10px;
  }
  .palka1 {
    left: calc(50% - 200px);
    top: -71px;
    width: 240px;
    height: 761px;
  }
  .star2 {
    right: -5%;
    top: -100px;
    transform: scale(1.3);
    background-position: -10px
  }
  .kvadrat1 {
    top: 430px;
    width: 535px;
    height: 507px;
  }
  .krug2 {
    /* background: url('../images/adapt/krug2u2.svg'); */
    width: 734px;
    height: 703px;
    top: 900px;
  }
  .star3 {
    top: 750px;
    left: 180px;
    transform: scale(1.2);
  }
  .krug3 {
    right: 50px;
    top: 450px;
  }
  .treug1 {
    right: 420px;
    top: 330px;
  }
  .krug4 {
    width: 540px;
    height: 540px;
    top: 1040px;
    right: 300px;
  }
  .treug2 {
    /* background: url('../images/adapt/treug2u2.svg'); */
    top: 820px;
    height: 100%;
    right: 0px;
    background-repeat: no-repeat;
  }


  .f2 {
    top: 1575px;

  }
  .t1 {
    position: relative;
    font-size: 110px;
    text-align: center;
    top: 0px;
  }
  .div1 {
    top: 287px;
    width: 622px;
    height: 591px;
  }
  .krug21 {
    width: 537px;
    height: 537px;
  }
  .kvadrat21 {
    width: 190px;
    height: 190px;
    bottom: 10px;
    left: 10px;
  }
  .k1 {
    /* background: url('../images/adapt/k1u2.svg'); */
    width: 512px;
    height: 744px;
    background-repeat: no-repeat;
    /* right: -250px; */
    right: 0%;
    top: 490px
  }
  .treug21 {
    right: 0%;
  }
  .k2 {
    top: 1120px;
    left: 100px;
  }
  .div2 {
    width: 720px;
    height: 748px;
    right: 2%;
    top: 1410px;
  }
  .kot2 {

  }
  .kvadrat22 {

  }
  .treug22 {

  }
  .div3 {
    top: 87%;
    width: 771px;
    height: 486px;
  }
  .treug23 {

  }
  .krug22 {

  }
  .div4 {
    top: 2777px;
    right: -100px
  }
  .krug23 {

  }
  .krug24 {

  }
}
@media all and (min-width: 1440px) and (max-width: 1680px) {
  .krug1 {
    left: -39px;
    width: 520px;
    height: 520px;
  }
  .star1 {
    /* width: 505px; */
    /* height: 525px; */
  }
  .palka1 {
    left: calc(50% - 119px);
    top: -61px;
    width: 115px;
    height: 669px;
  }
  .star2 {
    right: 0px;
    top: -250px;
    /* width: 110%; */
  }
  .kvadrat1 {
    top: 415px;
    width: 511px;
    height: 484px;
  }
  .krug2 {
    /* background: url('../images/adapt/krug2u2.svg');
    width: 734px;
    height: 703px; */
    top: 790px;
  }
  .kot {

  }
  .star3 {
    top: 649px;
    left: 159px;
  }
  .krug3 {
    right: 25px;
    top: 392px;
  }
  .treug1 {
    right: 360px;
    top: 570px;
  }
  .krug4 {
    width: 515px;
    height: 515px;
    top: 850px;
    right: 125px;
  }
  .treug2 {
    /* background: url('../images/adapt/treug2u2.svg'); */
    top: 780px;
    right: 0px;
  }
  .chel {

  }

  .f2 {
    top: 1350px;

  }
  .t1 {
    position: relative;
    font-size: 110px;
    text-align: center;
    margin: 0 auto;
    top: 0px;
  }
  .div1 {
    top: 283px;
    width: 575px;
    height: 571px;
  }
  .krug21 {
    width: 491px;
    height: 491px;
  }
  .kvadrat21 {
    width: 173px;
    height: 173px;
    bottom: 5px;
    left: 5px;
  }
  .k1 {
    /* background: url('../images/adapt/k1u2.svg'); */
    /* width: 512px;
    height: 744px; */
    /* background-repeat: no-repeat; */
    right: -50px;
    top: 455px
  }
  .k2 {
    top: 988px;
    left: 50px;
  }
  .t3 {
    left: 2%;
  }
  .div2 {
    width: 443px;
    height: 721px;
    /* right: 32%; */
    left: 58%;
    top: 1090px;
  }
  .kot2 {
    left: 40%;
  }
  .kvadrat22 {
    left: 0%;
  }
  .treug22 {
    left: 0%;
  }
  .div3 {
    top: 67%;
    width: 771px;
    height: 486px;
  }
  .treug23 {

  }
  .krug22 {

  }
  .div4 {
    top: 2303px;
    right: -50px
  }
  .krug23 {

  }
  .krug24 {

  }
}


@media all and (min-width: 1366px) and (max-width: 1440px) {
  .krug1 {
    left: -39px;
    width: 520px;
    height: 520px;
  }
  .star1 {
    /* width: 505px; */
    /* height: 525px; */
  }
  .palka1 {
    left: calc(50% - 119px);
    top: -61px;
    width: 115px;
    height: 669px;
  }
  .star2 {
    right: 15px;
    top: -250px;
    /* width: 110%; */
  }
  .kvadrat1 {
    top: 415px;
    width: 511px;
    height: 484px;
  }
  .krug2 {
    /* top: 790px;
    background-size: 500px;
    background-repeat: no-repeat; */
  }
  .kot {

  }
  .star3 {
    top: 649px;
    left: 159px;
  }
  .krug3 {
    right: 25px;
    top: 392px;
  }
  .treug1 {
    right: 360px;
    top: 570px;
  }
  .krug4 {
    width: 515px;
    height: 515px;
    top: 850px;
    right: 125px;
  }
  .treug2 {
    /* background: url('../images/adapt/treug2u2.svg'); */
    top: 780px;
    right: 0px;
  }
  .glavn {

  }
  .chel {

  }

  .f2 {
    top: 1350px;

  }
  .t1 {
    left: 8%;
    position: relative;
    font-size: 110px;
    text-align: center;
    margin: 0 auto;
    top: 0px;
  }
  .div1 {
    top: 283px;
    width: 575px;
    height: 571px;
  }
  .krug21 {
    width: 491px;
    height: 491px;
  }
  .kvadrat21 {
    width: 173px;
    height: 173px;
    bottom: 5px;
    left: 5px;
  }
  .k1 {
    /* background: url('../images/adapt/k1u2.svg'); */
    /* width: 512px;
    height: 744px; */
    /* background-repeat: no-repeat; */
    right: 0%;
    top: 455px
  }
  .k2 {
    top: 988px;
    left: 50px;
  }
  .t5 {
    left: 30%;
  }
  .div2 {
    width: 643px;
    height: 721px;
    /* right: 52%; */
    left: 58%;

    top: 1060px;
  }
  .kot2 {
    left: 40%;
  }
  .kvadrat22 {
    left: 0%;
  }


  .treug22 {

  }
  .div3 {
    top: 67%;
    width: 771px;
    height: 486px;
  }
  .treug23 {

  }
  .krug22 {

  }
  .div4 {
    top: 2303px;
    left: 62%;
  }
  .krug23 {

  }
  .krug24 {

  }
}
@media only screen  and (min-width: 1840px) {

  .krug1 {
    left: 0px;
    width: 580px;
    height: 580px;
  }
  .star1 {
    transform: scale(1.5);
    left: 8%;
    top: 100px;
  }
  .palka1 {
    left: calc(50% - 279px);
    top: -101px;
    width: 320px;
    height: 791px;
  }
  .star2 {
    right: -5%;
    top: 0px;
    transform: scale(1.5);
  }
  .kvadrat1 {
    top: 430px;
    width: 600px;
    height: 600px;
  }
  .krug2 {
    /* background: url('../images/adapt/krug2u3.svg'); */
    width: 834px;
    height: 803px;
    top: 900px;
    left: 1%;
    background-repeat: no-repeat;
  }
  .kot {
    left: 20%;
    top: 1000px;
  }
  .star3 {
    top: 750px;
    left: 180px;
    transform: scale(1.5);
  }
  .krug3 {
    right: 0px;
    top: 600px;
  }
  .treug1 {
    right: 420px;
    top: 330px;
  }
  .krug4 {
    width: 580px;
    height: 580px;
    top: 1040px;
    right: 0px;
  }
  .treug2 {
    /* background: url('../images/adapt/treug2u3.svg'); */
    top: 470px;
    width: 1106px;
    height: 1011;
    right: -300px;
    background-repeat: no-repeat;
  }
  .f2 {
    top: 1575px;

  }
  .t1 {
    position: relative;
    font-size: 110px;
    text-align: center;
    top: 0px;
  }
  .div1 {
    top: 287px;
    width: 622px;
    height: 591px;
  }
  .krug21 {
    width: 537px;
    height: 537px;
  }
  .kvadrat21 {
    width: 190px;
    height: 190px;
    bottom: 10px;
    left: 10px;
  }
  .t3 {
    left: 30%;
  }
  .k1 {
    left: 98%;
    top: 470px;
  }
  .treug21 {
    width: 512px;
    height: 744px;
    background-repeat: no-repeat;
    left: 0px;
    top: 0px;
  }
  .k2 {
    top: 200px;
    top: 1120px;
    left: 100px;
  }
  .star21 {
    top: 0px;
    left: 2%;
    transform: scale(1.3);
  }
  .div2 {
    width: 720px;
    height: 748px;
    left: 80%;
    top: 1610px;
  }
  .kot2 {

  }
  .kvadrat22 {

  }
  .treug22 {

  }
  .div3 {
    top: 87%;
    width: 771px;
    height: 486px;
  }
  .treug23 {

  }

  .krug22 {

  }
  .div4 {
    top: 2777px;
    /* right: -100px */
    left: 90%;
  }
  .krug23 {

  }
  .krug24 {

  }

}
