@media only screen and (min-width: 900px) and (max-width: 1024px) {
  body {
    height: 6256px;
  }
  .s1 {
    font-size: 30px;
    top: -230px;
    left: 25%;
  }
  .s2 {
    font-size: 30px;
    top: -370px;
    left: -2%;
    width: 400px;
  }
  .s3 {
    font-size: 30px;
    top: -430px;
    width: 500px;
    left: 18%;
  }
  .s4 {
    font-size: 30px;
    top: -640px;
    left: 2%;
    width: 300px;
  }
  .s5 {
    font-size: 30px;
    top: -330px;
    left: -9%;
  }
  .s6 {
    font-size: 30px;
    top: 930px;
  }
  .t21 {
    font-size: 22px;
    left: 17px;
    top: 33px;
  }
  .t22 {
    font-size: 22px;
    left: 313px;
    top: 31px;
  }
  .t23 {
    font-size: 22px;
    left: 393px;
    top: 31px;
  }
  .t24 {
    font-size: 22px;
    right: 391px;
    top: 31px;
  }
  .t25 {
    font-size: 22px;
    right: 245px;
    top: 31px;
  }
  .t26 {
    right: 18px;
    top: 10px;
  }
  .f3 {
    top: 6170px;
    height: 86px;
  }
  .t2 {
    left: 40%;
  }
  .t3 {
    left: 65%;
    top: 100px;
  }
  .t4 {
    top: -80px;
  }
  .t5 {
    left: 76%;
  }
  .t6 {
    left: 25%;
    top: -80px;
  }
  .t7 {
    left: 38%;
    top: -80px;
  }
  .ochki {
    bottom: 344px;
  }
  .krug1 {
    left: -108px;
    top: 0px;
    width: 439px;
    height: 439px;
  }
  .star1 {
    left: 2%;
    top: 30px;
  }
  .palka1 {
    left: calc(50% - 499px);
    top: -71px;
    width: 120px;
    height: 761px;
  }
  .star2 {
    top: 0px;
    transform: scale(0.8);
    right: -30%;
  }
  .kvadrat1 {
    top: 500px;
    width: 535px;
    height: 507px;
    left: -3%;
  }
  .krug2 {
    width: 1000px;
    height: 700px;
    top: 1000px;
    background-size: 700px;
  }
  @keyframes pryg {
    50% {top: 800px;}
  }
  .kot {
    top: 500px;
  }
  .star3 {
    top: 800px;
    left: 5%;
    transform: scale(0.8);
  }
  .krug3 {
    right: 50px;
    top: 790px;
  }
  .treug1 {
    top: 330px;
    left: 50%;
    opacity: 0;
  }
  .krug4 {
    width: 340px;
    height: 340px;
    top: 1200px;
    right: 200px;
    z-index: 5;
  }
  .treug2 {
    top: 1220px;
    height: 100%;
    right: -3%;
    background-repeat: no-repeat;
  }


  .f2 {
    top: 1936px;
    width: 100%;
  }
  .t1 {
    position: relative;
    font-size: 100px;
    text-align: center;
    left: 0%;
  }
  .div1 {
    top: 357px;
    width: 372px;
    height: 350px;
    left: 4%;
  }
  .krug21 {
    width: 340px;
    height: 340px;
  }
  .kvadrat21 {
    width: 120px;
    height: 120px;
    bottom: 0px;
    left: 10px;
  }
  .k1 {
    width: 512px;
    height: 744px;
    background-repeat: no-repeat;
    left: 35%;
    top: 790px;
  }
  .treug21 {
    top: 200px;
    left: 60%;
    background-size: 250px;
    background-repeat: no-repeat;
  }
  .k2 {
    top: 1460px;
    left: -1%;
  }
  .star21 {
    top: -20px;
    background-size: 400px;
    background-repeat: no-repeat;
  }
  .div2 {
    width: 420px;
    height: 348px;
    top: 2000px;
    left: 30%;
    transform: scale(.9);
  }
  .kot2 {
    left: 80%;
  }
  .kvadrat22 {
    height: 790px;
    width: 400px;
    left: 40%;
  }
  .treug22 {
    left: 37%;
  }
  .div3 {
    top: 3000px;
    width: 771px;
    height: 386px;
    left: 0%;
  }
  .treug23 {
    background-size: 400px;
  }
  .krug22 {
    height: 200px;
    width: 200px;
  }
  .div4 {
    width: 330px;
    top: 3650px;
    left: 53%;
    height: 190px;
  }
  .krug23 {
    left: 0px;
    height: 190px;
    width: 190px;
  }
  .krug24 {
    right: 0px;
    height: 100px;
    width: 100px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 900px) {
  body {
    height: 6246px;
  }
  .s1 {
    font-size: 26px;
    top: -270px;
    left: 33%;
  }
  .s2 {
    font-size: 26px;
    top: -400px;
    left: 3%;
    width: 240px;
  }
  .s3 {
    font-size: 26px;
    top: -400px;
    width: 400px;
    left: 21%
  }
  .s4 {
    font-size: 26px;
    top: -620px;
    left: 5%;
    width: 150px
  }
  .s5 {
    font-size: 26px;
    top: -510px;
    left: 8%;
    width: 200px;
  }
  .s6 {
    font-size: 26px;
    top: 870px;
  }
  .t21 {
    font-size: 22px;
    left: 33px;
    top: 33px;
  }
  .t22 {
    font-size: 22px;
    left: 298px;
    top: 34px;
  }
  .t23 {
    font-size: 22px;
    left: 350px;
    top: 34px;
  }
  .t24 {
    font-size: 22px;
    right: 334px;
    top: 34px;
  }
  .t25 {
    font-size: 22px;
    right: 219px;
    top: 34px;
  }
  .t26 {
    right: 33px;
    top: 17px;
  }
  .f3 {
    top: 6156px;
    height: 90px;
  }
  .t2 {
    left: 40%;
  }
  .t3 {
    left: 65%;
    top: 100px;
  }
  .t4 {
    top: -80px;
  }
  .t5 {
    left: 76%;
  }
  .t6 {
    left: 25%;
    top: -80px;
  }
  .t7 {
    left: 38%;
    top: -80px;
  }
  .ochki {
    bottom: 344px;
  }
  .krug1 {
    left: -108px;
    top: 0px;
    width: 439px;
    height: 439px;
  }
  .star1 {
    left: 2%;
    top: 30px;
  }
  .palka1 {
    left: calc(50% - 499px);
    top: -71px;
    width: 120px;
    height: 761px;
  }
  .star2 {
    top: 0px;
    transform: scale(0.8);
    right: -30%;
  }
  .kvadrat1 {
    top: 500px;
    width: 535px;
    height: 507px;
    left: -3%;
  }
  .krug2 {
    width: 1000px;
    height: 700px;
    top: 1000px;
    background-size: 700px;
  }
  @keyframes pryg {
    50% {top: 800px;}
  }
  .kot {
    top: 500px;
  }
  .star3 {
    top: 800px;
    left: 5%;
    transform: scale(0.8);
  }
  .krug3 {
    right: 50px;
    top: 790px;
  }
  .treug1 {
    top: 330px;
    left: 50%;
    opacity: 0;
  }
  .krug4 {
    width: 340px;
    height: 340px;
    top: 1200px;
    right: 200px;
    z-index: 5;
  }
  .treug2 {
    top: 1220px;
    height: 100%;
    right: -3%;
    background-repeat: no-repeat;
  }


  .f2 {
    top: 1936px;
    width: 100%;
  }
  .t1 {
    position: relative;
    font-size: 100px;
    text-align: center;
    left: 0%;
  }
  .div1 {
    top: 357px;
    width: 372px;
    height: 350px;
    left: 4%;
  }
  .krug21 {
    width: 340px;
    height: 340px;
  }
  .kvadrat21 {
    width: 120px;
    height: 120px;
    bottom: 0px;
    left: 10px;
  }
  .k1 {
    width: 512px;
    height: 744px;
    background-repeat: no-repeat;
    left: 28%;
    top: 790px;
  }
  .treug21 {
    top: 200px;
    left: 60%;
    background-size: 250px;
    background-repeat: no-repeat;
  }
  .k2 {
    top: 1500px;
    left: -1%;
  }
  .star21 {
    top: 0px;
    background-size: 400px;
    background-repeat: no-repeat;
  }
  .div2 {
    width: 420px;
    height: 348px;
    top: 2000px;
    left: 26%;
    transform: scale(.9);
  }
  .kot2 {
    left: 80%;
  }
  .kvadrat22 {
    height: 790px;
    width: 400px;
    left: 40%;
  }
  .treug22 {
    left: 37%;
  }
  .div3 {
    top: 3000px;
    width: 771px;
    height: 386px;
    left: 0%;
  }
  .treug23 {
    background-size: 400px;
  }
  .krug22 {
    height: 200px;
    width: 200px;
  }
  .div4 {
    width: 330px;
    top: 3650px;
    left: 53%;
    height: 190px;
  }
  .krug23 {
    left: 0px;
    height: 190px;
    width: 190px;
  }
  .krug24 {
    right: 0px;
    height: 100px;
    width: 100px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 414px) {
  body {
    height: 2846px;
  }
  .t21 {
    font-size: 8px;
    left: 6px;
    top: 8px;
  }
  .t22 {
    font-size: 8px;
    left: 105px;
    top: 8px;
  }
  .t23 {
    font-size: 8px;
    left: 138px;
    top: 8px;
  }
  .t24 {
    font-size: 8px;
    right: 137px;
    top: 8px;
  }
  .t25 {
    font-size: 8px;
    right: 81px;
    top: 8px;
  }
  .t26 {
    background: url('../images/t263.svg');
    width: 50px;
    height: 20px;
    right: 6px;
    top: 3px;
  }
  .s1 {
    font-size: 17px;
    top: -140px;
    left: 1%;
  }
  .s2 {
    font-size: 17px;
    top: -204px;
    left: 7%;
    width: 100px;
  }
  .s3 {
    font-size: 17px;
    top: -200px;
    width: 250px;
    left: 7%;
  }
  .s4 {
    font-size: 17px;
    top: -200px;
    left: -9%;
    width: 150px;
  }
  .s5 {
    font-size: 17px;
    top: -200px;
    left: -83%;
    width: 200px;
  }
  .s6 {
    font-size: 17px;
    top: 380px;
    width: 200px;
  }
  .f3 {
    top: 2820px;
    height: 26px
  }
  .t2 {
    font-size: 25px;
    left: 37%;
    top: -15px;
  }
  .t3 {
    font-size: 40px;
    left: 75%;
    top: 170px;
  }
  .t4 {
    font-size: 40px;
    left: 14%;
    top: -40px;
  }
  .t5 {
    font-size: 40px;
    left: 29%;
    top: 45px;
  }
  .t6 {
    font-size: 40px;
    left: 15%;
    top: -65px;
  }
  .t7 {
    font-size: 40px;
    left: 36%;
    top: -55px;
  }
  .glavn {
    left: calc(50% - 90px);
    width: 179px;
    height: 270px;
  }
  .chel {
    background: url('../images/chel3.svg');
    width: 179px;
    height: 270px;
    background-repeat: no-repeat;
    bottom: 0px;
  }
  .rot {
    background: url('../images/rot3.svg');
    width: 30px;
    height: 15px;
    background-repeat: no-repeat;
  }
  .ochki {
    left: calc(50% - 89px);
    background: url('../images/ochki3.svg');
    width: 169px;
    height: 78px;
    bottom: 135px;
    background-repeat: no-repeat;
  }
  .krug1 {
    left: -28px;
    top: -20px;
    width: 200px;
    height: 200px;
  }
  .star1 {
    left: -30%;
    top: -700px;
    transform: scale(.8);
  }
  .palka1 {
    left: calc(50% - 499px);
    top: -150px;
    width: 120px;
    height: 761px;
    opacity: 0;
  }
  .star2 {
    left: 5%;
  }
  .kvadrat1 {
    top: 200px;
    width: 235px;
    height: 207px;
    left: -15%;
  }
  .krug2 {
    width: 860px;
    height: 700px;
    top: -350px;
    left: -88%;
    background-size: 300px;
    animation-play-state: paused;

  }
  @keyframes pryg {
    50% {top: 550px;}
  }
  .kot {
    top: 500px;
  }
  .star3 {
    top: 370px;
    left: -9%;
    background-size: 400px;
    animation-play-state: paused;
    background-size: 300px;
  }
  .krug3 {
    left: 4%;
    top: 350px;
    background-size: 300px;
  }
  .treug1 {
    top: 330px;
    left: 50%;
    opacity: 0;
  }
  .krug4 {
    width: 200px;
    height: 200px;
    top: 600px;
    right: 200px;
    z-index: 5;
  }
  .treug2 {
    top: 350px;
    height: 100%;
    left: 40%;
    background-repeat: no-repeat;
    background-size: 200px;
  }
  .f2 {
    top: 568px;
  }
  .t1 {
    position: relative;
    font-size: 45px;
    text-align: center;
    left: 0%;
    top: 300px;
  }
  .div1 {
    top: 400px;
    width: 240px;
    height: 230px;
    left: 0%;
  }
  .krug21 {
    width: 200px;
    height: 200px;
  }
  .kvadrat21 {
    width: 70px;
    height: 70px;
    bottom: 0px;
    left: 10px;
  }
  .k1 {
    width: 112px;
    height: 244px;
    background-repeat: no-repeat;
    /* left: -80%; */
    right: 48%;
    top: 400px;
    background-size: 200px;
  }
  .treug21 {
    top: 140px;
    background-size: 250px;
    background-repeat: no-repeat;
    transform: scale(.7);

  }
  .k2 {
    top: 900px;
    left: 0%;
  }
  .star21 {
    background: url('../images/starr.svg');
    width: 254px;
    height: 266px;
    top: 0px;
    background-repeat: no-repeat;
  }
  .div2 {
    width: 120px;
    height: 348px;
    top: 1100px;
    right: 20%;
    transform: scale(.9);
  }
  .kot2 {
    left: 80%;
    opacity: 0;
  }
  .kvadrat22 {
    height: 300px;
    width: 200px;
    /* left: 15%; */
  }
  .treug22 {
    right: 25%;
  }
  .div3 {
    top: 1600px;
    width: 771px;
    height: 386px;
    left: -30%;
  }
  .treug23 {
    background-size: 200px
  }
  .krug22 {
    top: 60px;
    height: 100px;
    width: 100px;
    left: 12%;
  }
  @keyframes vpravo {
    50% {left: 32%;}
  }
  .div4 {
    width: 200px;
    top: 1800px;
    /* left: 30%; */
    right: 18%;
    height: 130px;
  }
  .krug23 {
    left: 0px;
    height: 130px;
    width: 130px;
  }
  .krug24 {
    right: 0px;
    height: 65px;
    width: 65px;
  }
  .ochki:hover ~ .f2 .div1 {
    background: url('../images/stul3.svg');
    width: 176px;
    height: 230px;
    left: 1%;
  }
  .ochki:hover ~ .f2 .k1 {
    background: url('../images/krovat3.svg');
    width: 243px;
    height: 225px;
    /* left: 20%; */
    right: 7%;
    top: 670px;
  }
  .ochki:hover ~ .f2 .k2 {
    background: url('../images/stol3.svg');
    width: 196px;
    height: 188px;
    left: 2%;
    top: 950px;
  }
  .ochki:hover ~ .f2 .div2 {
    background: url('../images/shkaf3.svg');
    width: 247px;
    height: 277px;
    /* left: 19%; */
    right: 5%;
    top: 1200px;
  }
  .ochki:hover ~ .f2 .div3 {
    background: url('../images/holod3.svg');
    width: 165px;
    height: 261px;
    left: 3%;
    top: 1500px;
  }
  .ochki:hover ~ .f2 .div4 {
    background: url('../images/dver3.svg');
    width: 88px;
    height: 183px;
    left: 65%
  }
}

@media only screen and (min-width: 414px) and (max-width: 567px) {
  body {
    height: 3800px;
  }
  .t21 {
    font-size: 12px;
    left: 17px;
    top: 20px;
  }
  .t22 {
    font-size: 12px;
    left: 158px;
    top: 19px;
  }
  .t23 {
    font-size: 12px;
    left: 182px;
    top: 19px;
  }
  .t24 {
    font-size: 12px;
    right: 190px;
    top: 19px;
  }
  .t25 {
    font-size: 12px;
    right: 131px;
    top: 19px;
  }
  .t26 {
    background: url('../images/t262.svg');
    width: 102px;
    height: 41px;
    right: 17px;
    top: 7px;
  }
  .t26 {
    background: url('../images/t262.svg');
    width: 102px;
    height: 41px;
    right: 17px;
    top: 7px;
  }
  .s1 {
    font-size: 10px;
    top: -210px;
    /* left: 10%; */
    right: 5%;
  }
  .s2 {
    font-size: 18px;
    top: -300px;
    left: 2%;
    width: 50px;
  }
  .s3 {
    font-size: 18px;
    top: -200px;
    width: 250px;
    left: 26%
  }
  .s4 {
    font-size: 18px;
    top: -90px;
    left: -10%;
    width: 300px;
  }
  .s5 {
    font-size: 18px;
    top: -290px;
    left: 4%;
    width: 100px;
  }
  .s6 {
    font-size: 18px;
    top: 540px;
    width: 200px;
  }
  .f3 {
    top: 3747px;
    height: 53px;
  }
  .t2 {
    left: 38%;
    top: -55px;
  }
  .t3 {
    left: 65%;
    top: 100px;
  }
  .t4 {
    left: 14%;
    top: -50px;
  }
  .t5 {
    left: 46%;
    top: 40px;
  }
  .t6 {
    left: 27%;
    top: -80px;
  }
  .t7 {
    left: 38%;
    top: -70px;
  }
  .glavn {
    left: calc(50% - 135px);
    width: 271px;
    height: 408px;
  }
  .chel {
    background: url('../images/chel2.svg');
    width: 271px;
    height: 408px;
    bottom: 0%;
  }
  .rot {
    background: url('../images/rot2.svg');
    width: 45px;
    height: 20px;
    background-repeat: no-repeat;
  }
  .ochki {
    left: calc(50% - 133px);
    background: url('../images/ochki2.svg');
    width: 255px;
    height: 120px;
    bottom: 185px;
  }
  .krug1 {
    left: -108px;
    top: -50px;
    width: 400px;
    height: 400px;
  }
  .star1 {
    left: -7%;
    top: -100px;
    transform: scale(.5);
  }
  .palka1 {
    left: calc(50% - 499px);
    top: -150px;
    width: 120px;
    height: 761px;
  }
  .star2 {
    left: 5%;
  }
  .kvadrat1 {
    top: 200px;
    width: 535px;
    height: 507px;
    left: -15%;
  }
  .krug2 {
    width: 1000px;
    height: 700px;
    top: 200px;
    background-size: 500px;
  }
  @keyframes pryg {
    50% {top: 800px;}
  }
  .kot {
    top: 500px;
  }
  .star3 {
    top: 600px;
    left: 5%;
    background-size: 400px;
  }
  .krug3 {
    left: 10%;
    top: 590px;
    background-size: 500px;
  }
  .treug1 {
    top: 330px;
    left: 50%;
    opacity: 0;
  }
  .krug4 {
    width: 340px;
    height: 340px;
    top: 800px;
    right: 200px;
    z-index: 5;
  }
  .treug2 {
    top: 650px;
    height: 100%;
    right: -70%;
    background-repeat: no-repeat;
    background-size: 400px;
  }


  .f2 {
    top: 1110px;
  }
  .t1 {
    position: relative;
    font-size: 50px;
    text-align: center;
    left: 0%;
    top: 80px;
  }
  .div1 {
    top: 207px;
    width: 302px;
    height: 330px;
    left: 0%;
  }
  .krug21 {
    width: 280px;
    height: 280px;
  }
  .kvadrat21 {
    width: 120px;
    height: 110px;
    bottom: 0px;
    left: 10px;
  }
  .k1 {
    width: 512px;
    height: 744px;
    background-repeat: no-repeat;
    /* left: -40%; */
    right: 12%;
    top: 420px;
  }
  .treug21 {
    top: 150px;
    left: 60%;
    background-size: 250px;
    background-repeat: no-repeat;
  }
  .k2 {
    top: 930px;
    left: 0%;
  }
  .star21 {
    background: url('../images/starr.svg');
    width: 254px;
    height: 266px;
    top: 0px;
    background-repeat: no-repeat;
  }
  .div2 {
    width: 310px;
    height: 348px;
    top: 1100px;
    /* left: 0%; */
    right: 23%;
    /* transform: scale(.9); */
  }
  .kot2 {
    left: 80%;
  }
  .kvadrat22 {
    height: 400px;
    width: 300px;
    left: 20%;
  }
  .treug22 {
    left: 17%;
  }
  .div3 {
    top: 1780px;
    width: 771px;
    height: 386px;
    left: -30%;
  }
  .treug23 {
    background-size: 400px;
  }
  .krug22 {
    height: 200px;
    width: 200px;
  }
  .div4 {
    width: 330px;
    top: 2170px;
    /* left: 15%; */
    right: 8%;
    height: 190px;
  }
  .krug23 {
    left: 0px;
    height: 190px;
    width: 190px;
  }
  .krug24 {
    right: 0px;
    height: 100px;
    width: 100px;
  }
  .ochki:hover ~ .f2 .div1 {
    background: url('../images/stul2.svg');
    width: 233px;
    height: 307px;
    left: 1%;
  }
  .ochki:hover ~ .f2 .k1 {
    background: url('../images/krovat2.svg');
    width: 323px;
    height: 287px;
    /* left: 19%; */
    right: 9%;
    top: 550px;
  }
  .ochki:hover ~ .f2 .k2 {
    background: url('../images/stol2.svg');
    width: 260px;
    height: 247px;
    left: 0%;
    top: 900px;
  }
  .ochki:hover ~ .f2 .div2 {
    background: url('../images/shkaf2.svg');
    width: 323px;
    height: 360px;
    /* left: 19%; */
    right: 5%;
    top: 1200px;
  }
  .ochki:hover ~ .f2 .div3 {
    background: url('../images/holod2.svg');
    width: 225px;
    height: 360px;
    left: 10%;
    top: 1700px;
  }
  .ochki:hover ~ .f2 .div4 {
    background: url('../images/dver2.svg');
    width: 127px;
    height: 240px;
    left: 60%;
  }
}
@media only screen and (min-width: 568px) and (max-width: 768px) {
  body {
    height: 6550px;
  }
  .t21 {
    font-size: 16px;
    left: 17px;
    top: 19px;
  }
  .t22 {
    font-size: 16px;
    left: 220px;
    top: 19px;
  }
  .t23 {
    font-size: 16px;
    left: 265px;
    top: 19px;
  }
  .t24 {
    font-size: 16px;
    right: 237px;
    top: 19px;
  }
  .t25 {
    font-size: 16px;
    right: 148px;
    top: 19px;
  }
  .t26 {
    background: url('../images/t262.svg');
    width: 102px;
    height: 41px;
    right: 17px;
    top: 7px;
  }
  .s1 {
    font-size: 19px;
    top: -230px;
    left: 49%;
  }
  .s2 {
    font-size: 19px;
    top: -100px;
    left: 7%;
    width: 200px;
  }
  .s3 {
    font-size: 19px;
    top: -370px;
    width: 300px;
    left: 45%
  }
  .s4 {
    font-size: 19px;
    top: -100px;
    left: 15%;
    width: 200px;
  }
  .s5 {
    font-size: 19px;
    top: -120px;
    left: 18%;
    width: 200px;
  }
  .s6 {
    font-size: 19px;
    top: 1050px;
    width: 200px;
    left: 9%
  }
  .f3 {
    top: 6497px;
    height: 53px;
  }
  .t2 {
    left: 40%;
  }
  .t3 {
    left: 65%;
    top: 100px;
  }
  .t4 {
    top: -80px;
  }
  .t5 {
    left: 76%;
  }
  .t6 {
    left: 25%;
    top: -80px;
  }
  .t7 {
    left: 38%;
    top: -80px;
  }
  .ochki {
    bottom: 344px;
    background-repeat: no-repeat;
  }
  .krug1 {
    left: -108px;
    top: 0px;
    width: 439px;
    height: 439px;
  }
  .star1 {
    left: 2%;
    top: 30px;
  }
  .palka1 {
    left: calc(50% - 499px);
    top: -71px;
    width: 120px;
    height: 761px;
  }
  .star2 {
    top: 0px;
    transform: scale(0.8);
    right: -30%;
  }
  .kvadrat1 {
    top: 500px;
    width: 535px;
    height: 507px;
    left: -3%;
  }
  .krug2 {
    width: 900px;
    height: 700px;
    top: 1000px;
    background-size: 700px;
  }
  @keyframes pryg {
    50% {top: 800px;}
  }
  .kot {
    top: 500px;
  }
  .star3 {
    top: 800px;
    left: 5%;
    transform: scale(0.8);
  }
  .krug3 {
    right: 50px;
    top: 790px;
  }
  .treug1 {
    top: 330px;
    left: 50%;
    opacity: 0;
  }
  .krug4 {
    width: 340px;
    height: 340px;
    top: 1200px;
    right: 200px;
    z-index: 5;
  }
  .treug2 {
    top: 1220px;
    height: 100%;
    right: -3%;
    background-repeat: no-repeat;
  }


  .f2 {
    top: 1936px;
    width: 100%;
  }
  .t1 {
    position: relative;
    font-size: 100px;
    text-align: center;
    left: 0%;
  }
  .div1 {
    top: 357px;
    width: 372px;
    height: 350px;
    left: 4%;
  }
  .krug21 {
    width: 340px;
    height: 340px;
  }
  .kvadrat21 {
    width: 120px;
    height: 120px;
    bottom: 0px;
    left: 10px;
  }
  .k1 {
    width: 512px;
    height: 744px;
    background-repeat: no-repeat;
    /* left: 5%; */
    right: 20%;
    top: 790px;
  }
  .treug21 {
    top: 200px;
    left: 60%;
    background-size: 250px;
    background-repeat: no-repeat;
  }
  .k2 {
    top: 1500px;
    left: -1%;
  }
  .star21 {
    top: 0px;
    background-size: 400px;
    background-repeat: no-repeat;
  }
  .div2 {
    width: 420px;
    height: 348px;
    top: 2000px;
    left: 9%;
    transform: scale(.9);
  }
  .kot2 {
    left: 80%;
  }
  .kvadrat22 {
    height: 790px;
    width: 400px;
    left: 40%;
  }
  .treug22 {
    left: 37%;
  }
  .div3 {
    top: 3000px;
    width: 771px;
    height: 386px;
    left: 0%;
  }
  .treug23 {
    background-size: 400px;
  }
  .krug22 {
    height: 200px;
    width: 200px;
  }
  .div4 {
    width: 330px;
    top: 3650px;
    left: 36%;
    height: 190px;
  }
  .krug23 {
    left: 0px;
    height: 190px;
    width: 190px;
  }
  .krug24 {
    right: 0px;
    height: 100px;
    width: 100px;
  }
  .ochki:hover ~ .f2 .k1 {
    left: 8%;
  }
  .ochki:hover ~ .f2 .div3 {
    top: 2850px;
  }
  .ochki:hover ~ .f2 .div4 {
    left: 38%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  body{
    height: 4270px;
  }
  .s1 {
    font-size: 30px;
    top: -150px;
  }
  .s2 {
    font-size: 30px;
    top: -170px;
    left: -2%;
  }
  .s3 {
    font-size: 30px;
    top: -135px;
  }
  .s4 {
    font-size: 30px;
    top: -240px;
    left: 15%;
  }
  .s5 {
    font-size: 30px;
    top: -280px;
    left: -3%;
  }
  .s6 {
    font-size: 30px;
    top: 850px;
    width: 400px;
  }
  .t21 {
    left: 17px;
    top: 28px;
  }
  .t22 {
    left: 388px;
    top: 29px;
  }
  .t23 {
    left: 468px;
    top: 29px;
  }
  .t24 {
    right: 431px;
    top: 29px;
  }
  .t25 {
    right: 265px;
    top: 29px;
  }
  .t26 {
    right: 18px;
    top: 14px;
  }
  .f3 {
    top: 4183px;
    height: 87px;
  }
  .t2 {
    left: 40%;
    top: -60px;
  }
  .t3 {
    left: 66%;
  }
  .t4 {
    top: 80px;
  }
  .t5 {
    left: 86%;
  }
  .t6 {
    left: 26%;
  }
  .krug1 {
    left: -138px;
    top: -38px;
    width: 439px;
    height: 439px;
  }
  .star1 {
    left: 0%;
  }
  .palka1 {
    left: calc(50% - 499px);
    top: -71px;
    width: 120px;
    height: 761px;
  }
  .star2 {
    top: -380px;
    transform: scale(0.8);
    right: -18%;
  }
  .kvadrat1 {
    top: 200px;
    width: 535px;
    height: 507px;
    left: -2%;
  }
  .krug2 {
    width: 1000px;
    height: 800px;
    top: 300px;
    background-size: 700px;
  }
  @keyframes pryg {
    50% {top: 100px;}
  }
  .kot {
    top: 500px;
  }
  .star3 {
    top: 550px;
    left: 5%;
    transform: scale(0.8);
  }
  .krug3 {
    right: 50px;
    top: 450px;
  }
  .treug1 {
    top: 330px;
    left: 50%;
  }
  .krug4 {
    width: 340px;
    height: 340px;
    top: 600px;
    right: 200px;
  }
  .treug2 {
    top: 420px;
    height: 100%;
    right: -3%;
    background-repeat: no-repeat;
  }


  .f2 {
    top: 1152px;

  }
  .t1 {
    position: relative;
    font-size: 100px;
    text-align: center;
    left: 0%;
  }
  .div1 {
    top: 257px;
    width: 372px;
    height: 350px;
    left: 4%;
  }
  .krug21 {
    width: 340px;
    height: 340px;
  }
  .kvadrat21 {
    width: 120px;
    height: 120px;
    bottom: 0px;
    left: 10px;
  }
  .k1 {
    width: 312px;
    height: 744px;
    background-repeat: no-repeat;
    /* left: 30%; */
    right: 30%;
    top: 490px;
  }
  .treug21 {
    left: 60%;
    background-size: 250px;
    background-repeat: no-repeat;
  }
  .k2 {
    top: 800px;
    left: 0%;
  }
  .star21 {
    top: 150px;
    background-size: 400px;
    background-repeat: no-repeat;
  }
  .div2 {
    width: 370px;
    height: 348px;
    top: 1160px;
    /* left: 32%; */
    right: 23%;
    transform: scale(.9);
  }
  .kot2 {

  }
  .kvadrat22 {
    height: 490px;
    width: 400px;
    left: 50%;
  }
  .treug22 {
    left: 40%;
  }
  .div3 {
    top: 1850px;
    width: 771px;
    height: 386px;
    left: 0%;
  }
  .treug23 {
    background-size: 400px;
  }
  .krug22 {
    height: 200px;
    width: 200px;
  }
  .div4 {
    width: 330px;
    top: 2400px;
    /* left: 50%; */
    right: 10%;
    height: 190px;
  }
  .krug23 {
    left: 0px;
    height: 190px;
    width: 190px;
  }
  .krug24 {
    right: 0px;
    height: 100px;
    width: 100px;
  }
  .ochki:hover ~ .f2 .k1 {
    left: 43%;
  }
  .ochki:hover ~ .f2 .k2 {
    top: 950px;
  }
  .ochki:hover ~ .f2 .div2 {
    left: 40%;
  }
  .ochki:hover ~ .f2 .div4 {
    left: 60%;
  }
}

@media all and (min-width: 1680px) and (max-width: 1840px) {
  body {
    height: 4950px;
  }
  .s1 {
    top: -150px;
  }
  .s2 {
    top: -215px;
  }
  .s3 {
    left: 9%;
    top: -250px;
  }
  .s4 {
    top: -380px;
  }
  .s5 {
    top: -280px;
  }
  .s6 {
    top: 680px;
  }
  .t21 {
    left: 105px;
    top: 24px;
  }
  .t22 {
    left: 576px;
    top: 25px;
  }
  .t23 {
    left: 756px;
    top: 25px;
  }
  .t24 {
    right: 699px;
    top: 25px;
  }
  .t25 {
    right: 433px;
    top: 25px;
  }
  .t26 {
    right: 106px;
    top: 9px;
  }
  .f3 {
    top: 4875px;
  }
  .t2 {
    left: 44%;
  }
  .t3 {
    left: 30%;
  }
  .t5 {
    left: 61%;
  }
  .t6 {
    left: 36%;
  }
  .krug1 {
    left: -9px;
    width: 540px;
    height: 540px;
  }
  .star1 {
    transform: scale(1.2);
    left: 3%;
    top: 10px;
  }
  .palka1 {
    left: calc(50% - 200px);
    top: -71px;
    width: 240px;
    height: 761px;
  }
  .star2 {
    right: -5%;
    top: -100px;
    transform: scale(1.3);
    background-position: -10px;
  }
  .kvadrat1 {
    top: 430px;
    width: 535px;
    height: 507px;
  }
  .krug2 {
    width: 900px;
    height: 703px;
    top: 900px;
  }
  .star3 {
    top: 750px;
    left: 180px;
    transform: scale(1.2);
  }
  .krug3 {
    right: 50px;
    top: 450px;
  }
  .treug1 {
    right: 420px;
    top: 330px;
  }
  .krug4 {
    width: 540px;
    height: 540px;
    top: 1040px;
    right: 300px;
  }
  .treug2 {
    top: 820px;
    height: 100%;
    right: 0px;
    background-repeat: no-repeat;
  }


  .f2 {
    top: 1575px;

  }
  .t1 {
    position: relative;
    font-size: 110px;
    text-align: center;
    top: 0%;
    left: 0%;
  }
  .div1 {
    top: 287px;
    width: 622px;
    height: 591px;
  }
  .krug21 {
    width: 537px;
    height: 537px;
  }
  .kvadrat21 {
    width: 190px;
    height: 190px;
    bottom: 10px;
    left: 10px;
  }
  .k1 {
    width: 512px;
    height: 744px;
    background-repeat: no-repeat;
    /* left: 60%; */
    right: 7%;
    top: 490px;
  }
  .treug21 {
    left: 5%;
  }
  .k2 {
    top: 1120px;
    left: 100px;
  }
  .div2 {
    width: 720px;
    height: 748px;
    right: 2%;
    top: 1410px;
  }
  .kot2 {

  }
  .kvadrat22 {

  }
  .treug22 {

  }
  .div3 {
    top: 87%;
    width: 771px;
    height: 486px;
  }
  .treug23 {

  }
  .krug22 {

  }
  .div4 {
    top: 2777px;
    left: 70%;
  }
  .krug23 {

  }
  .krug24 {

  }
}
@media all and (min-width: 1440px) and (max-width: 1680px) {
  body {
    height: 4424px;
  }
  .s6 {
    top: 800px;
  }
  .t21 {
    left: 60px;
    top: 25px;
  }
  .t22 {
    left: 501px;
    top: 24px;
  }
  .t23 {
    left: 651px;
    top: 24px;
  }
  .t24 {
    right: 594px;
    top: 24px;
  }
  .t25 {
    right: 358px;
    top: 24px;
  }
  .t26 {
    right: 61px;
    top: 9px;
  }
  .f3 {
    top: 4349px;
  }
  .t3 {
    left: 37%;
  }
  .t5 {
    left: 40%;
  }
  .krug1 {
    left: -39px;
    width: 520px;
    height: 520px;
  }
  .star1 {

  }
  .palka1 {
    left: calc(50% - 119px);
    top: -61px;
    width: 115px;
    height: 669px;
  }
  .star2 {
    right: 0px;
    top: -250px;
  }
  .kvadrat1 {
    top: 415px;
    width: 511px;
    height: 484px;
  }
  .krug2 {
    top: 500px;
  }
  .kot {

  }
  .star3 {
    top: 649px;
    left: 159px;
  }
  .krug3 {
    right: 25px;
    top: 392px;
  }
  .treug1 {
    right: 360px;
    top: 570px;
  }
  .krug4 {
    width: 515px;
    height: 515px;
    top: 850px;
    right: 125px;
  }
  .treug2 {
    top: 780px;
    right: 0px;
  }
  .chel {

  }
  .ocki {
    bottom: 344px;
  }

  .f2 {
    top: 1350px;

  }
  .t1 {
    position: relative;
    font-size: 110px;
    text-align: center;
    margin: 0 auto;
    top: 0%;
    left: 0%;
  }
  .div1 {
    top: 283px;
    width: 575px;
    height: 571px;
  }
  .krug21 {
    width: 491px;
    height: 491px;
  }
  .kvadrat21 {
    width: 173px;
    height: 173px;
    bottom: 5px;
    left: 5px;
  }
  .k1 {
    right: 10%;
    top: 455px;
  }
  .k2 {
    top: 988px;
    left: 50px;
  }
  .div2 {
    width: 443px;
    height: 721px;
    /* right: 32%; */
    left: 58%;
    top: 1090px;
  }
  .kot2 {
    left: 40%;
  }
  .kvadrat22 {
    left: 0%;
  }
  .treug22 {
    left: 0%;
  }
  .div3 {
    top: 67%;
    width: 771px;
    height: 486px;
  }
  .treug23 {

  }
  .krug22 {

  }
  .div4 {
    top: 2303px;
    left: 60%;
  }
  .krug23 {

  }
  .krug24 {

  }
}


@media all and (min-width: 1366px) and (max-width: 1440px) {
  body {
    height: 4425px;
  }
  .s3 {
    top: -170px;
    left: -20%;
    width: 600px;
  }
  .s4 {
    top: -240px;
    left: 13%;
  }
  .s6 {
    top: 880px;
  }
  .t21 {
    left: 73px;
    top: 25px;
  }
  .t22 {
    left: 494px;
    top: 24px;
  }
  .t23 {
    left: 624px;
    top: 24px;
  }
  .t24 {
    right: 567px;
    top: 24px;
  }
  .t25 {
    right: 351px;
    top: 24px;
  }
  .t26 {
    right: 74px;
    top: 9px;
  }
  .f3 {
    top: 4350px;
  }
  .t2 {
    left: 40%;
  }
  .t6 {
    left: 40%;
  }
  .krug1 {
    left: -39px;
    width: 520px;
    height: 520px;
  }
  .star1 {

  }
  .palka1 {
    left: calc(50% - 119px);
    top: -61px;
    width: 115px;
    height: 669px;
  }
  .star2 {
    right: 15px;
    top: -250px;
  }
  .kvadrat1 {
    top: 415px;
    width: 511px;
    height: 484px;
  }
  .krug2 {

  }
  .kot {

  }
  .star3 {
    top: 649px;
    left: 159px;
  }
  .krug3 {
    right: 25px;
    top: 392px;
  }
  .treug1 {
    right: 360px;
    top: 570px;
  }
  .krug4 {
    width: 515px;
    height: 515px;
    top: 850px;
    right: 125px;
  }
  .treug2 {
    /* background: url('../images/adapt/treug2u2.svg'); */
    top: 780px;
    right: 0px;
  }
  .glavn {

  }
  .chel {

  }
  .ochki {
    bottom: 344px;
  }

  .f2 {
    top: 1350px;

  }
  .t1 {
    left: 0%;
    position: relative;
    font-size: 110px;
    text-align: center;
    margin: 0 auto;
    top: 0%;
  }
  .div1 {
    top: 283px;
    width: 575px;
    height: 571px;
  }
  .krug21 {
    width: 491px;
    height: 491px;
  }
  .kvadrat21 {
    width: 173px;
    height: 173px;
    bottom: 5px;
    left: 5px;
  }
  .k1 {
    /* left: 53%; */
    right: 10%;
    top: 455px;
  }
  .treug21 {
    left: 8%;
  }
  .k2 {
    top: 988px;
    left: 50px;
  }
  .t5 {
    left: 30%;
  }
  .div2 {
    width: 643px;
    height: 721px;
    /* right: 52%; */
    left: 58%;
    top: 1700px;

    top: 1250px;
  }
  .kot2 {
    left: 40%;
  }
  .kvadrat22 {
    left: 0%;
  }


  .treug22 {
    left: 0%;
  }
  .div3 {
    top: 67%;
    width: 771px;
    height: 486px;
  }
  .treug23 {

  }
  .krug22 {

  }
  .div4 {
    top: 2303px;
    left: 62%;
  }
  .krug23 {

  }
  .krug24 {

  }
  .ochki:hover ~ .f2 .div2 {
    left: 55%;
  }
}
@media only screen  and (min-width: 1840px) {
  body {
    height: 5010px;
  }
  .s1 {
    top: -150px;
  }
  .s2 {
    top: -215px;
  }
  .s3 {
    left: 9%;
    top: -300px;
  }
  .s4 {
    top: -380px;
  }
  .s5 {
    top: -260px;
  }
  .s6 {
    top: 730px;
  }
  .t21 {
    left: 111px;
    top: 25px;
  }
  .t22 {
    left: 612px;
    top: 24px;
  }
  .t23 {
    left: 822px;
    top: 24px;
  }
  .t24 {
    right: 765px;
    top: 24px;
  }
  .t25 {
    right: 469px;
    top: 24px;
  }
  .t26 {
    right: 112px;
    top: 9px;
  }
  .f3 {
    top: 4935px;
    height: 75px;
  }
  .t2 {
    left: 46%;
  }
  .t4 {
    left: 42%;
  }
  .t5 {
    left: 64%;
  }
  .t6 {
    left: 37%
  }
  .krug1 {
    left: 0px;
    width: 580px;
    height: 580px;
  }
  .star1 {
    transform: scale(1.5);
    left: 8%;
    top: 100px;
  }
  .palka1 {
    left: calc(50% - 279px);
    top: -101px;
    width: 320px;
    height: 791px;
  }
  .star2 {
    right: -5%;
    top: 0px;
    transform: scale(1.5);
  }
  .kvadrat1 {
    top: 430px;
    width: 600px;
    height: 600px;
  }
  .krug2 {
    width: 1000px;
    height: 500px;
    top: 950px;
    left: 1%;
    background-repeat: no-repeat;
  }
  .kot {
    left: 20%;
    top: 1000px;
  }
  .star3 {
    top: 750px;
    left: 180px;
    transform: scale(1.5);
  }
  .krug3 {
    right: 0px;
    top: 600px;
  }
  .treug1 {
    right: 420px;
    top: 330px;
  }
  .krug4 {
    width: 580px;
    height: 580px;
    top: 1040px;
    right: 0px;
  }
  .treug2 {
    /* background: url('../images/adapt/treug2u3.svg'); */
    top: 470px;
    width: 1106px;
    height: 1011;
    right: -300px;
    background-repeat: no-repeat;
  }
  .f2 {
    top: 1575px;

  }
  .t1 {
    position: relative;
    font-size: 110px;
    text-align: center;
    left: 0%;
    top: 40px;
  }
  .div1 {
    top: 287px;
    width: 622px;
    height: 591px;
  }
  .krug21 {
    width: 537px;
    height: 537px;
  }
  .kvadrat21 {
    width: 190px;
    height: 190px;
    bottom: 10px;
    left: 10px;
  }
  .t3 {
    left: 30%;
  }
  .k1 {
    left: 70%;
    top: 470px;
  }
  .treug21 {
    width: 512px;
    height: 744px;
    background-repeat: no-repeat;
    left: 0px;
    top: 0px;
  }
  .k2 {
    top: 200px;
    top: 1120px;
    left: 100px;
  }
  .star21 {
    top: 0px;
    left: 2%;
    transform: scale(1.3);
  }
  .div2 {
    width: 720px;
    height: 748px;
    left: 55%;
    top: 1610px;
  }
  .kot2 {

  }
  .kvadrat22 {

  }
  .treug22 {

  }
  .div3 {
    top: 87%;
    width: 771px;
    height: 486px;
  }
  .treug23 {

  }

  .krug22 {

  }
  .div4 {
    top: 2777px;
    left: 60%;
  }
  .krug23 {

  }
  .krug24 {

  }
  .ochki:hover ~ .f2 .k1 {
    left: 60%;
  }

}
